// SPDX-License-Identifier: GPL-2.0
/*
 * SAMSUNG EXYNOS8890 SoC device tree source
 */
/dts-v1/;
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "samsung,exynos8890";
	#address-cells = <2>;
	#size-cells = <2>;

	interrupt-parent = <&gic>;

	xxti: clock {
		/* XXTI */
		compatible = "fixed-clock";
		clock-output-names = "oscclk";
		#clock-cells = <0>;
	};

	cpus {
        #address-cells = <1>;
		#size-cells = <0>;

		cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x100>;
			enable-method = "psci";
		};
		cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x101>;
			enable-method = "psci";
		};
		cpu@102 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x102>;
			enable-method = "psci";
		};
		cpu@103 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x103>;
			enable-method = "psci";
		};
		cpu@0 {
			device_type = "cpu";
			compatible = "arm,mongoose", "arm,armv8";
			reg = <0x0>;
			enable-method = "psci";
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,mongoose", "arm,armv8";
			reg = <0x1>;
			enable-method = "psci";
		};
		cpu@2 {
			device_type = "cpu";
			compatible = "arm,mongoose", "arm,armv8";
			reg = <0x2>;
			enable-method = "psci";
		};
		cpu@3 {
			device_type = "cpu";
			compatible = "arm,mongoose", "arm,armv8";
			reg = <0x3>;
			enable-method = "psci";
		};
	};

	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_suspend = <0xC4000001>;
		cpu_off = <0x84000002>;
		cpu_on = <0xC4000003>;
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0 0 0 0x18000000>;

		gic: interrupt-controller@11001000 {
			compatible = "arm,cortex-a15-gic";
			#interrupt-cells = <3>;
			interrupt-controller;
			reg = <0x11001000 0x1000>,
			      <0x11002000 0x1000>,
			      <0x11004000 0x2000>,
			      <0x11006000 0x2000>;
			interrupts = <GIC_PPI 9 0xf04>;
		};

		mct: mct@101C0000 {
			compatible = "samsung,exynos4210-mct";
			reg = <0x101C0000 0x800>;
			interrupts = <GIC_SPI 81 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 84 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 85 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 87 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 89 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 90 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 91 IRQ_TYPE_LEVEL_HIGH>,
				<GIC_SPI 92 IRQ_TYPE_LEVEL_HIGH>;
            
			// TODO clocks
			//clocks = <&xxti>, <&cmu_peris CLK_PCLK_MCT>;
			//clock-names = "fin_pll", "mct";
		};

		pinctrl_alive: pinctrl@10580000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x10580000 0x1000>;

			wakeup-interrupt-controller {
				compatible = "samsung,exynos7-wakeup-eint";
				interrupts = <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
			};
		};

		pinctrl_aud: pinctrl@114B0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x114B0000 0x1000>;
			interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_ccore: pinctrl@105A0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x105A0000 0x1000>;
			interrupts = <GIC_SPI 383 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_fp: pinctrl@14CA0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x14CA0000 0x1000>;
			interrupts = <GIC_SPI 459 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_ese: pinctrl@14C90000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x14C90000 0x1000>;
			interrupts = <GIC_SPI 458 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_fsys0: pinctrl@10E60000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x10E60000 0x1000>;
			interrupts = <GIC_SPI 212 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_fsys1: pinctrl@15690000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x15690000 0x1000>;
			interrupts = <GIC_SPI 202 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_nfc: pinctrl@14CD0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x14CD0000 0x1000>;
			interrupts = <GIC_SPI 456 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_peric0: pinctrl@136D0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x136D0000 0x1000>;
			interrupts = <GIC_SPI 430 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_peric1: pinctrl@14CC0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x14CC0000 0x1000>;
			interrupts = <GIC_SPI 460 IRQ_TYPE_LEVEL_HIGH>;
		};

		pinctrl_touch: pinctrl@14CE0000 {
			compatible = "samsung,exynos8890-pinctrl";
			reg = <0x14CE0000 0x1000>;
			interrupts = <GIC_SPI 457 IRQ_TYPE_LEVEL_HIGH>;
		};

		serial_0: uart@13630000 {
			compatible = "samsung,exynos8890-uart";
			reg = <0x13630000 0x100>;
			interrupts = <GIC_SPI 429 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_bus>;
			//clocks = <&clock 207>, <&clock 208>, <&clock 208>;
			//clock-names = "gate_pclk0", "gate_uart0", "sclk_uart0";
			status = "disabled";
		};

		serial_1: uart@14C20000 {
			compatible = "samsung,exynos8890-uart";
			reg = <0x14C20000 0x100>;
			interrupts = <GIC_SPI 432 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart1_bus>;
			//clocks = <&clock 258>, <&clock 263>, <&clock 263>;
			//clock-names = "gate_pclk1", "gate_uart1", "sclk_uart1";
			status = "disabled";
		};

		serial_2: uart@14C30000 {
			compatible = "samsung,exynos8890-uart";
			reg = <0x14C30000 0x100>;
			interrupts = <GIC_SPI 433 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart2_bus>;
			//clocks = <&clock 259>, <&clock 264>, <&clock 264>;
			//clock-names = "gate_pclk2", "gate_uart2", "sclk_uart2";
			status = "disabled";
		};

		serial_3: uart@14C40000 {
			compatible = "samsung,exynos8890-uart";
			reg = <0x14C40000 0x100>;
			interrupts = <GIC_SPI 434 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart3_bus>;
			//clocks = <&clock 260>, <&clock 265>, <&clock 265>;
			//clock-names = "gate_pclk3", "gate_uart3", "sclk_uart3";
			status = "disabled";
		};

		serial_4: uart@14C50000 {
			compatible = "samsung,exynos8890-uart";
			reg = <0x14C50000 0x100>;
			interrupts = <GIC_SPI 435 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart4_bus>;
			//clocks = <&clock 261>, <&clock 266>, <&clock 266>;
			//clock-names = "gate_pclk4", "gate_uart4", "sclk_uart4";
			status = "disabled";
		};

		serial_5: uart@14C10000 {
			compatible = "samsung,exynos8890-uart";
			reg = <0x14C10000 0x100>;
			interrupts = <GIC_SPI 436 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart5_bus>;
			//clocks = <&clock 262>, <&clock 267>, <&clock 267>;
			//clock-names = "gate_pclk5", "gate_uart5", "sclk_uart5";
			status = "disabled";
		};
	};

	timer: timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_HIGH)>,
			<GIC_PPI 14
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_HIGH)>,
			<GIC_PPI 11
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_HIGH)>,
			<GIC_PPI 10
				(GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_HIGH)>;
		clock-frequency = <26000000>;
	};
};

#include "exynos8890-pinctrl.dtsi"